@model Iruka.Models.UserDTO
@{
    ViewBag.Title = "Index";
}
@section css{

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/template/src/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/template/src/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="~/template/src/assets/images/favicon.png" />
}
@section js{
    <script src="~/Scripts/js/user.js"></script>
}
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                            <div class="col-lg-12">
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Password</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Phone Number</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="input-group col-xs-12">
                                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Upload Picture</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.HiddenFor(m => m.Picture, new { @id = "PicturePath" })
                                                <input type="file" name="files" id="pictureUploader" class="form-control" />
                                                @Html.ValidationMessageFor(m => m.Picture, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="input-group col-xs-12">
                                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div>
                                            <div>
                                                <button type="button" class="btn btn-success btn-fw" id="btnSubmitRegisterOwner">Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="overflow:auto">
                                <div style="float:left">
                                    <h4 class="card-title">Owner Table</h4>
                                </div>
                            </div>
                            <div id="reloadTable">
                                @Html.Partial("/Views/Partial/Partial_RegisterOwner.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                </span>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
</body>
