@using Iruka.Models;
@model Iruka.Models.UserDTO

@{
    ViewBag.Title = "Edit User";
}

@section css{
    <link href="~/Css/avatar-upload.min.css" rel="stylesheet" />

    <style>
        .certificate-container {
            margin: 20px auto;
            width: 300px;
            height: 192px;
            position: relative;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }

            .certificate-container > div {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

        @@media(max-width: 1024px) {
            .certificate-container {
                width: 100%;
            }
        }
    </style>
}

@section js{
    <script src="~/Scripts/js/user.min.js"></script>

    <script>
        $(document).ready(function () {
            DefineCertificateSection();

            $('#EndClientEnum').change(function () {
                DefineCertificateSection();
            });
        });

        function DefineCertificateSection() {
            if ($('#EndClientEnum').val() == 0) {
                $('#upload-certificate-section').removeClass('d-none');
            } else {
                $('#upload-certificate-section').addClass('d-none');
            }
        }

        if ($('#CertificatePath').val() == "") {
            $('.certificate-container').addClass('d-none');
        } else {
            $('.certificate-container').removeClass('d-none');
        }
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(m => m.Picture, new { @id = "PicturePath" })
    @Html.HiddenFor(m => m.Base64URL, new { @id = "Base64URL" })
    @Html.HiddenFor(m => m.Certificate, new { @id = "CertificatePath" })
    @Html.HiddenFor(m => m.Base64URLCertificate, new { @id = "Base64URLCertificate" })

    <div class="row">
        <div class="col-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>
                        Edit User
                        <a href="/Account/EndUserRegister/"><i class="fa fa-arrow-circle-left float-right" aria-hidden="true"></i></a>
                    </h2>
                    <hr />
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    @{
                                        if (Model.Picture == null || Model.Picture == String.Empty)
                                        {
                                            <div id="imagePreview" style="background-image: url('/Media/avatar-placeholder.png');">
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="imagePreview" style="background-image: url('@Model.Picture');">
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.EndClientEnum, new { @class = "col-12 control-label" })
                        <div class="col-12">
                            @Html.EnumDropDownListFor(m => m.EndClientEnum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EndClientEnum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.TextAreaFor(model => model.Address, htmlAttributes: new { @class = "form-control", rows = 2 })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", rows = 2 })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row d-none" id="upload-certificate-section">
                        @Html.LabelFor(m => m.Certificate, new { @class = "col-12 control-label" })
                        <div class="col-12">
                            <input type="file" id="certificateUpload" class="form-control" accept=".png, .jpg, .jpeg" />
                            <div class="certificate-container">
                                <div id="certificatePreview" style="background-image: url('@Model.Certificate');">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}