@model Iruka.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
}
@section css{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/template/src/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/template/src/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="~/template/src/assets/images/favicon.png" />
}
@section js{
    <script src="~/template/src/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/src/assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/template/src/assets/js/shared/off-canvas.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
    <script src="~/Scripts/js/user.js"></script>
}
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("RegisterAdmin", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.HiddenFor(m => m.RoleMenuLists, new { @value = "Admin" })

                                <div class="col-lg-12">
                                    <div class="row" style="margin-bottom:5px">
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Name</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Password</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:5px">
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Address</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Upload Picture</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @Html.HiddenFor(m => m.Picture, new { @id="PicturePath" })
                                                    <input type="file" name="files" id="pictureUploader" class="form-control" />
                                                    @Html.ValidationMessageFor(m => m.Picture, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label>Description</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="input-group col-xs-12">
                                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div>
                                                <div>
                                                    <button type="submit" class="btn btn-success btn-fw ">Create</button>
                                                    <input type="button" value="Create" onclick="location.href='@Url.Action("GetUserWithRole", "Users")'" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="overflow:auto">
                                <div style="float:left">
                                    <h4 class="card-title">User</h4>
                                </div>
                                <div style="float:right;margin-bottom:10px">
                                    <input class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Nama </th>
                                        <th> Email </th>
                                        <th> Phone </th>
                                        <th> Alamat </th>
                                        <th> Picture  </th>
                                        <th> Date  </th>
                                        <th> Deskripsi  </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Herman Beck </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Messsy Adam </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                        <td> John Richards </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                        <td> Peter Meggik </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 5 </td>
                                        <td> Edward </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 6 </td>
                                        <td> John Doe </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 7 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 8 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 9 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 10 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 11 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 12 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 13 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 14 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 15 </td>
                                        <td> Henry Tom </td>
                                        <td>
                                            test@email.com
                                        </td>
                                        <td> 987654321 </td>
                                        <td> Street Name </td>
                                        <td> Pic.jpg </td>
                                        <td> Apr 12, 2015 </td>
                                        <td> Temp Description </td>
                                        <td style="width:10%">
                                            <button type="button" class="btn btn-secondary btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fw" style="min-width:50px">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
                </span>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
</body>
