@model Iruka.Models.TransactionDto

@section css{
    <link rel="stylesheet" href="~/template/src/assets/css/shared/style.css">
    <link rel="stylesheet" href="~/template/src/assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="~/template/src/assets/images/favicon.png" />

    <link href="~/Css/avatar-upload.min.css" rel="stylesheet" />

    <style>
        fieldset {
            border: 2px solid;
            border-radius: 10px !important;
            color: gray !important;
            display: inline-block !important;
            padding-left: 0.75em;
            padding-right: 0.75em;
            width: 100%;
            height: 100%;
        }

        legend {
            margin-bottom: 0%;
            border: 0px;
            width: auto;
            padding: 0px 5px;
            font-size: 1rem;
        }

        .avatar-upload {
            margin: 10px auto !important;
        }

        .profile-info {
            display: flex;
            padding-left: 0.75em;
            padding-right: 0.75em;
            font-size: medium;
        }

            .profile-info > img {
                width: 35px;
                height: 35px;
                margin-right: 35px;
            }

            .profile-info > label {
                padding-top: calc(0.56rem + 1px);
                padding-bottom: calc(0.56rem + 1px);
                margin-bottom: 0;
                font-size: inherit;
                line-height: 1;
            }

        .coupon-value-container {
            width: 100%;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
            padding-left: 0 !important;
            padding-right: 0 !important;
            display: inline-flex;
            justify-content: center;
            margin-bottom: 0;
        }
    </style>
}

@section js{
    <script src="~/Scripts/js/cleave.min.js"></script>
    <script src="~/Scripts/js/transaction.js"></script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerId, new { id = "CustomerId" })
    @Html.HiddenFor(model => model.CouponId, new { id = "CouponId" })
    @Html.HiddenFor(model => model.Total, new { id = "Total" })
    @Html.HiddenFor(model => model.TransactionType, new { id = "TransactionType" })

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-5" style="display: flex; justify-content: center">
                            <input class="form-control border-warning" type="text" style="font-size: small" placeholder="Barcode scan result..." autocomplete="off" id="scan-result" />
                            <button type="button" class="btn btn-warning no-wrap text-center" id="btn-input-scan">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span>Search</span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <fieldset>
                                <legend>Customer Data</legend>
                                <div class="avatar-upload">
                                    <div class="avatar-preview">
                                        <div id="profile-img" style="background-image: url('../../Media/avatar-placeholder.png');">
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-section">
                                    <p class="profile-info">
                                        <img src="~/Media/name.png" alt="NAME" />
                                        <label id="lbl-profile-name">-</label>
                                    </p>

                                    <p class="profile-info">
                                        <img src="~/Media/address.png" alt="ADDRESS" />
                                        <label id="lbl-profile-address">-</label>
                                    </p>

                                    <p class="profile-info">
                                        <img src="~/Media/phone.png" alt="PHONE" />
                                        <label id="lbl-profile-phone">-</label>
                                    </p>

                                    <p class="profile-info">
                                        <img src="~/Media/email.png" alt="EMAIL" />
                                        <label id="lbl-profile-email">-</label>
                                    </p>

                                    <p class="profile-info mb-3">
                                        <img src="~/Media/desc.png" alt="DESCRIPTION" />
                                        <label id="lbl-profile-desc">-</label>
                                    </p>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-6">
                            <fieldset>
                                <legend>Transaction History</legend>

                                <div id="reloadTable" class="w-100" style="margin-top: 10px; height: 80%">
                                    <div id="transaction-history-grid"></div>
                                </div>

                                <p class="profile-info mt-3">
                                    <img src="~/Media/coins.png" alt="POINT" class="mr-3" />
                                    <label id="lbl-customer-points" class="font-weight-bold" style="color: green !important">0</label>
                                </p>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-header" style="background:#f0f3f5; padding:0.5rem 1.81rem">
                    <label>Transaction</label>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <fieldset>
                                <legend>Purchaseable Coupons</legend>

                                <div id="purchaseable-coupons-grid" class="mt-3">

                                </div>
                            </fieldset>
                        </div>

                        <div class="col-6">
                            <fieldset style="border-color: orange !important">
                                <legend style="color: orange !important">Create Transaction</legend>

                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <label class="col-12 text-center">Shopping Total</label>
                                            <div class="col-6 mx-auto textbox-cash">
                                                @Html.Editor(" ", new { htmlAttributes = new { @class = "form-control currency-label", @disabled = "disabled", @Value = "Rp", @style = "width: 65px; font-size: medium" } })
                                                @Html.EditorFor(m => m.SubTotal, new { htmlAttributes = new { @class = "form-control numeral", @style = "font-size: medium", @Value = 0 } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <p id="product-coupon" class="profile-info coupon-value-container d-none">
                                            <img src="~/Media/delivery-package.png" alt="PRODUCT" class="mr-3" />
                                            <label id="product-coupon-value" class="font-weight-bold" style="color: green !important">-</label>
                                        </p>

                                        <p id="discount-coupon" class="profile-info coupon-value-container d-none">
                                            <img src="~/Media/discount.png" alt="DISCOUNT" class="mr-3" />
                                            <label id="discount-coupon-value" class="font-weight-bold" style="color: green !important">-</label>
                                        </p>
                                    </div>

                                    <div class="col-12 mt-3 text-center">
                                        <img src="~/Media/payment.png" alt="TOTAL" class="mr-3" style="width: 35px; height: 35px" />
                                        <label id="lbl-invoice-total" class="font-weight-bold" style="color: #2F6EB1 !important">Rp. 0</label>
                                    </div>

                                    <div class="col-12 mt-5">
                                        <div class="row">
                                            @foreach (var option in Model.TransactionTypeOptions)
                                            {
                                                <div class="col-4">
                                                    <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" name="transaction-types" value="@option" class="custom-control-input" id="@option">
                                                        <label class="custom-control-label" for="@option">@option</label>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3 mb-3">
                                        <label>Notes</label>
                                        @Html.TextAreaFor(m => m.Notes, htmlAttributes: new { @class = "form-control", @style = "font-size: medium", rows = 2 })
                                    </div>

                                    <div class="col-12 mb-3">
                                        <button type="button" onclick="confirmSubmit(this.form)" class="btn wide btn-danger float-right">
                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                            <span class="font-weight-bold">Submit Transaction</span>
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}