@model Iruka.Models.EventDTO

@{
    ViewBag.Title = "Edit Event";
}
@section css{
    <style>
        .inner-addon {
            position: relative;
        }

            .inner-addon .glyphicon {
                position: absolute;
                padding: 15px;
                pointer-events: none;
            }

        .left-addon .glyphicon {
            left: 0px;
        }

        .right-addon .glyphicon {
            right: 0px;
        }

        .left-addon input {
            padding-left: 30px;
        }

        .right-addon input {
            padding-right: 30px;
        }

        .picture-container {
            margin: 20px auto;
            width: 400px;
            height: 220px;
            position: relative;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }

            .picture-container > div {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

        @@media(max-width: 1365px) {
            .picture-container {
                width: 83%;
            }
        }
    </style>
}
@section js{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/event.js"></script>

    <script>
        $(function () {

        });

        function confirmSubmit(form) {
            if ($('#PicturePath').val() == "") {
                toastr.error(`Please upload event picture!`);
            } else {
                form.submit();
            }
        }
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Picture, new { @id = "PicturePath" })
    @Html.HiddenFor(m => m.Base64URL, new { @id = "Base64URL" })

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>
                        Edit Header Feed
                        <a href="/Events/Index/"><i class="fa fa-arrow-circle-left float-right" aria-hidden="true"></i></a>
                    </h2>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form-group row" id="upload-event-picture-section">
                                @Html.LabelFor(m => m.Picture, new { @class = "col-12 control-label" })
                                <div class="col-12">
                                    <input type="file" id="picture-upload" class="form-control" accept=".png, .jpg, .jpeg" />
                                </div>
                            </div>
                            <fieldset>
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.EventName, new { @class = "col-12 control-label" })
                                    <div class="col-12">
                                        @Html.TextBoxFor(m => m.EventName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EventName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.Link, new { @class = "col-12 control-label" })
                                    <div class="col-12">
                                        @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Link, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.Description, new { @class = "col-12 control-label" })
                                    <div class="col-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 2 })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.ScheduleDate, new { @class = "col-12 control-label" })
                                    <div class="col-lg-6 col-12">
                                        <div class="inner-addon right-addon">
                                            <i class="glyphicon fa fa-calendar" style="padding:9px"></i>
                                            @Html.EditorFor(model => model.ScheduleDate, new { htmlAttributes = new { @class = "form-control", @id = "ScheduleDate", @data_date = "", @data_date_format = "dd MM yyyy", @data_link_field = "dtp_input2", @data_link_format = "yyyy-mm-dd", autocomplete = "off", @style = "height:30px" } })
                                            @Html.ValidationMessageFor(m => m.ScheduleDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <button onclick="confirmSubmit(this.form)" type="button" class="btn btn-success float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
                            </fieldset>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="picture-container">
                                <div id="picture-preview" style="background-image: url('@Model.Picture');">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}