@using Iruka.DAL;

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iruka</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/template/src/assets/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.material.mobile.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
    <link rel="stylesheet" href="~/template/src/assets/vendors/iconfonts/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Scripts/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/template/src/assets/css/shared/style.css">
    <link rel="stylesheet" href="~/template/src/assets/css/demo_1/style.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/rr-1.2.6/sc-2.0.1/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="shortcut icon" href="~/template/src/assets/images/favicon.png" />

    @RenderSection("css", required: false)
</head>
<body data-uid="@(ViewBag.UserId)">
    <div class="mobile-restriction">
        <div class="card">
            <div class="card-body">
                <p class="text-center my-3 font-weight-bold" style="font-size: 25px;">Please access this website on Desktop View!</p>
            </div>
        </div>
    </div>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="@Url.Action("Index", "Home")">
                    <img src="~/login-css/dist/img/logo-login.png" style="background-color:white;padding:5px;border-radius:10px" />
                </a>
                @*<a class="navbar-brand brand-logo-mini" href="index.html">
                        <img src="~/template/src/assets/images/logo-mini.svg" alt="logo" />
                    </a>*@
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav invisible">
                    <li class="nav-item font-weight-semibold d-none d-lg-block">Help : +050 2992 709</li>
                    <li class="nav-item dropdown language-dropdown">
                        <a class="nav-link dropdown-toggle px-2 d-flex align-items-center" id="LanguageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="d-inline-flex mr-0 mr-md-3">
                                <div class="flag-icon-holder">
                                    <i class="flag-icon flag-icon-us"></i>
                                </div>
                            </div>
                            <span class="profile-text font-weight-medium d-none d-md-block">English</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown">
                            <a class="dropdown-item">
                                <div class="flag-icon-holder">
                                    <i class="flag-icon flag-icon-us"></i>
                                </div>English
                            </a>
                            <a class="dropdown-item">
                                <div class="flag-icon-holder">
                                    <i class="flag-icon flag-icon-fr"></i>
                                </div>French
                            </a>
                            <a class="dropdown-item">
                                <div class="flag-icon-holder">
                                    <i class="flag-icon flag-icon-ae"></i>
                                </div>Arabic
                            </a>
                            <a class="dropdown-item">
                                <div class="flag-icon-holder">
                                    <i class="flag-icon flag-icon-ru"></i>
                                </div>Russian
                            </a>
                        </div>
                    </li>
                </ul>
                <form class="ml-auto search-form d-none d-md-block invisible" action="#">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search Here">
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown invisible">
                        <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-bell-outline"></i>
                            <span class="count">7</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                            <a class="dropdown-item py-3">
                                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                                <span class="badge badge-pill badge-primary float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/template/src/assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow py-2">
                                    <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/template/src/assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow py-2">
                                    <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/template/src/assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow py-2">
                                    <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown invisible">
                        <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-email-outline"></i>
                            <span class="count bg-success">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item py-3 border-bottom">
                                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                                <span class="badge badge-pill badge-primary float-right">View all</span>
                            </a>
                            <a class="dropdown-item preview-item py-3">
                                <div class="preview-thumbnail">
                                    <i class="mdi mdi-alert m-auto text-primary"></i>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0"> Just now </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item py-3">
                                <div class="preview-thumbnail">
                                    <i class="mdi mdi-settings m-auto text-primary"></i>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                                    <p class="font-weight-light small-text mb-0"> Private message </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item py-3">
                                <div class="preview-thumbnail">
                                    <i class="mdi mdi-airballoon m-auto text-primary"></i>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="@Global.GetLayoutPicture(ViewBag.UserId)" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <div class="dropdown-header text-center">
                                <img class="img-md rounded-circle" src="@Global.GetLayoutPicture(ViewBag.UserId)" alt="Profile image">
                                <p class="mb-1 mt-3 font-weight-semibold">@Global.GetLayoutUsername(ViewBag.UserId)</p>
                                <p class="font-weight-light text-muted mb-0">@Global.GetLayoutEmail(ViewBag.UserId)</p>
                            </div>
                            <a class="dropdown-item">
                                My Profile
                                @*<span class="badge badge-pill badge-danger">1</span>*@
                                <i class="dropdown-item-icon ti-dashboard"></i>
                            </a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" href="#" class="dropdown-item" id="logout-btn">
                                    Sign Out<i class="dropdown-item-icon ti-power-off"></i>
                                </button>
                            }
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="profile-image">
                                <img class="img-xs rounded-circle" src="@Global.GetLayoutPicture(ViewBag.UserId)" alt="profile image">
                                <div class="dot-indicator bg-success"></div>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">@Global.GetLayoutUsername(ViewBag.UserId)</p>
                                <p class="designation">@Global.GetLayoutRole(ViewBag.UserId)</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item nav-category">Main Menu</li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.href='@Url.Action("Index", "Home")'" style="cursor:pointer">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#setup" aria-expanded="false" aria-controls="setup">
                            <i class="menu-icon typcn typcn-document-add"></i>
                            <span class="menu-title">Setup</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="setup">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" onclick="location.href='@Url.Action("PointRateSetup", "Branches")'"> Point Rate </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon typcn typcn-document-add"></i>
                            <span class="menu-title">Manage User</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" onclick="location.href='@Url.Action("InternalUserRegister", "Account")'"> Internal User </a>
                                </li>
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" onclick="location.href='@Url.Action("EndUserRegister", "Account")'"> End User </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.href='@Url.Action("Index", "Coupons")'" style="cursor:pointer">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">Coupon</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#feed" aria-expanded="false" aria-controls="feed">
                            <i class="menu-icon typcn typcn-document-add"></i>
                            <span class="menu-title">Feeds</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="feed">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" onclick="location.href='@Url.Action("Index", "Events")'"> Event </a>
                                </li>
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" onclick="location.href='@Url.Action("Index", "Products")'"> Product </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#finance" aria-expanded="false" aria-controls="finance">
                            <i class="menu-icon typcn typcn-document-add"></i>
                            <span class="menu-title">Finance</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="finance">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" onclick="location.href='@Url.Action("Create", "Transactions")'"> Create Transaction </a>
                                </li>
                                <li class="nav-item" style="cursor:pointer">
                                    <a class="nav-link" onclick="location.href='@Url.Action("Index", "Transactions")'"> Transaction History </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer p-0">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© Copyright 2019. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            iloveiruka.com <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/global.min.js"></script>
    <script src="~/template/src/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/src/assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/template/src/assets/js/shared/off-canvas.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/template/src/assets/js/demo_1/dashboard.js"></script>
    <script src="~/template/src/assets/js/shared/misc.js"></script>
    <script src="~/Scripts/js/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/rr-1.2.6/sc-2.0.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        var userId = $("body").data("uid");

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    <!-- End custom js for this page-->
    @RenderSection("js", required: false)
</body>
</html>