@using Iruka.Models;
@using Iruka.DAL;

@section css{}
@section js{
}
<div>
    <table class="table table-hover table-bordered" id="user-table">
        <thead>
            <tr>
                <th> Role </th>
                <th> Name </th>
                <th> Email </th>
                <th> Phone </th>
                <th> Address </th>
                <th> Created Date </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DALUsers.GetAllUserBaseOnRole(new List<string> { RoleList.Groomer, RoleList.Owner, RoleList.Customer }))
            {
                <tr>
                    <td>@item.Role</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Address</td>
                    <td>@item.CreatedDate</td>
                    <td style="width:10%">
                        <button type="button" class="btn btn-secondary btn-fw" onclick="location.href='@Url.Action("EndUserEdit", "Account", new {id = item.Id })'" style="min-width:50px">
                            <i class="mdi mdi-pencil" style="margin:0px"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-fw" onclick="deleteUser('@item.Id', false)" style="min-width:50px">
                            <i class="mdi mdi-delete" style="margin:0px"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
