@using Iruka.DAL;

@section css{}
@section js{
}
<div>
    <table class="table table-hover table-bordered" id="adminTable">
        <thead>
            <tr>
                <th></th>
                <th> Name </th>
                <th> Email </th>
                <th> Phone </th>
                <th> Address </th>
                <th> Description  </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DALUsers.GetAllUserBaseOnRole("Admin"))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Address</td>
                    <td>@item.Description</td>
                    <td style="width:10%">
                        @*<a onclick="location.href='@Url.Action("EditAdmin", "Users", new {id = item.Id })'">
                            <img src="~/Media/edit.png" />
                        </a>*@
                        <button type="button" class="btn btn-secondary btn-fw" onclick="location.href='@Url.Action("EditAdmin", "Users", new {id = item.Id })'" style="min-width:50px">
                            <i class="mdi mdi-pencil" style="margin:0px"></i>
                        </button>
                        <button class="btn btn-danger btn-fw" onclick="deleteAdmin('@item.Id')" style="min-width:50px">
                            <i class="mdi mdi-delete" style="margin:0px"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
